h1 {
    margin-bottom: 1em;
}

.re-content {
    width: calc(98%);
    transition: all 0.3s cubic-bezier(0.4, 2, 0.68, 1);
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

.re-status {
    position: relative;
    top: -.2em;
    margin-left: 1em;
    font-size: 1.3em;
    transition: .25s all;
    opacity: 1;
}

.re-status--hidden {
    opacity: 0;
}

.re-btn {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    background: #ccc;
    display: inline-block;
    transition: all 0.3s cubic-bezier(0.4, 2, 0.68, 1);
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 6px;
    font-family: "brandon-bold", sans-serif;
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    width: auto;
    text-decoration: none;
    position: relative;
    margin-right: 1em;
}

.re-btn:hover, .re-btn:focus, .re-btn:active {
    color: #fff;
    opacity: 1;
}

.re-btn--blue {
    box-shadow: 0 10px 30px rgba(99, 156, 255, 0.6);
    background: #639cff;
}

.re-btn--orange {
    box-shadow: 0 10px 30px rgba(255, 169, 0, 0.6);
    background: #ffa900;
}

.re-btn--white {
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    color: #333;
    background: #fafafa;
}

.re-btn--white:hover, .re-btn--white:focus, .re-btn--white:active {
    color: #333;
}

.re-btn--xs {
    font-size: 12px;
    font-weight: 200;
    padding: 8px 15px;
}

.re-btn i {
    font-size: 2em;
    margin-right: .25em;
}

.re-btn span {
    position: relative;
    top: -.4em;
}

.re-widgets {
    margin-top: 2em;
}

.re-widget {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.re-widget-title a {
    font-size: 20px;
    color: #161616;
    text-decoration: none;
}

.re-controls {
    margin: 0 0 2em;
}

.widget-icons {
    transition: all 0.4s ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.widget-icon {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 .75em 0 0;
    background: none;
    cursor: pointer;
    outline: 0;
    font-size: 40px;
    border: none;
}

.widget-icon h6 {
    display: block;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
    margin-top: -25px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    transition: all 0.4s ease;
    font-family: "brandon-bold", sans-serif;
    line-height: 1.6;
    font-size: 12px;
}

.widget-icon:hover h6 {
    opacity: 1;
}

form.naked {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.widget-icon-embed { color: #ffa900; }
.widget-icon-preview { color: #73d8b4; }
.widget-icon-edit { color: #639cff; }
.widget-icon-delete { color: #ff7c5b; }
.widget-icon-styles { color: #D115C8; }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.m-0 {
    margin-right: 0;
}

.re-account {
    display: block;
    overflow: hidden;
    padding: 1.5em 1.5em 2em;
    margin: 2em 0 3em;
    background: #fff;
    border-radius: 5px;
    width: 30%;
}

.re-account-header {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0 0 1em;
    margin: 0 0 1em;
}

.re-account-header a {
    font-size: 1.3em;
    font-weight: 100;
}

.re-account h2 {
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.re-account-status {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 1.5em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.re-stats {
    display: block;
    overflow: hidden;
    text-align: center;
}

.re-stat {
    display: inline-block;
    margin-right: 1em;
}